@import url('https://fonts.cdnfonts.com/css/metropolis-2')
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400500700&display=swap')

/* Colors */
$primary-color: #FFFFFF
$secondary-color: #8176B6
$tertiary-color: #E1DEEB
$quaternary-color: rgba(#E767A3, 0.46)
$primary-text-color: #262624


/* Fonts */
$font-source: 'Raleway', sans-serif
$font-source-2: 'Metropolis', sans-serif
$regular-weight: 400
$medium-weight: 500
$bold-weight: 700

/* Size screen */
$mobile-width: 375px 
$tablet-width: 601px
$desktop-width: 1280px